<div class="owl-carousel main_slider">
  <div class="item">
    <img src="/assets/slide/main-slide/2.jpg" alt="" class="slide-bg">
    <div class="row m0 slide_caption">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="row m0 caption_iiner">
              <h2 class="first_heading">We are</h2>
              <h3 class="second_heading">mixta</h3>
              <h5 class="fourth_heading">Lorem ipsunm dolor sit amet</h5>
              <p>This is our portfolio. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam ahoncus</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <img src="/assets/slide/main-slide/2.jpg" alt="" class="slide-bg">
    <div class="row m0 slide_caption">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="row m0 caption_iiner">
              <h2 class="first_heading">We are</h2>
              <h3 class="second_heading">mixta</h3>
              <h5 class="fourth_heading">Lorem ipsunm dolor sit amet</h5>
              <p>This is our portfolio. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam ahoncus</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <img src="/assets/slide/main-slide/3.jpg" alt="" class="slide-bg">
    <div class="row m0 slide_caption">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row m0 caption_iiner">
              <br><br><br><br>
              <h4 class="third_heading">We make your life beautiful</h4>
              <h4 class="third_heading">We are <strong>Mixta</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
