<section class="row">
  <div class="row m0 social_networks">
    <div class="col-sm-6 social_network_inner">
      <div class="row">
        <div class="inner_box2" style="height: 400px;">
          <h3>
            Community + You
          </h3>
          <p>
            Together, we can accomplish more.
            We can design more intelligently,
            with more intent and respect for the future;
            for the lifecycles of the objects and spaces we create.
          </p>
          <ul class="social">
            <li>
              <a href="https://docs.google.com/forms/d/1L9qV_hD_GazKHjFLiOolKLGrMHzgUwUbHOQc9kHK6NQ/viewform" target="_blank">Join the Conversation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="community">
        <%= image_tag "bg-community.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
</section>
