<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="inner_box2" style="min-height: 500px;">
      <h3>
        Adaptable Living Spaces
      </h3>
      <p>
        Your life changes.<br>
        Your space should too.
        <br>
        What does a truly smart home look like?
        <br>
        Movable walls and windows, interoperable outlets,
        replaceable flooring - almost everything
        is interchangeable.
        The future is here.
      </p>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="living-spaces" style="text-align: center;">
      <%= image_tag "https://s3-us-west-1.amazonaws.com/opentecture/assets/parts/House.png", class: "img-responsive", style: "height: 280px;" %>
    </div>
  </div>
</div>
