<section class="row">
  <div class="row m0 social_networks">
    <div class="col-sm-6 social_network_inner">
      <div class="row">
        <div class="inner_box2">
          <h3>
            Adaptable Living Spaces
          </h3>
          <p>
            Your life changes.<br>
            Your space should too.
            <br>
            What does a truly smart home look like?
            <br>
            Movable walls and windows, interoperable outlets,
            replaceable flooring - almost everything
            is interchangeable.
            The future is here.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="living-spaces">
        <%= image_tag "parts/House.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
</section>
