<section class="row">
  <div class="row m0">
    <div class="col-sm-6">
      <div class="open-standards">
        <%= image_tag "bg.png", class: "img-responsive" %>
      </div>
    </div>
    <div class="col-sm-6 social_network_inner">
      <div class="row">
        <div class="inner_box2" style="height: 400px;">
          <h3>
            Open Standards
          </h3>
          <p>
            Building to a common, scalable standard creates
            new opportunities to design and create
            objects and spaces in a collaborative way.
          </p>
          <ul class="social">
            <li>
              <a href="https://github.com/opentecture/open-standards">Contribute</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
