<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div style="border-bottom: 1px solid #E5E5E5;">
        Title
      </div>

    </div>

    <hr>
  </div>

  <div class="row">
    <div class="col-md-3">
      Share
    </div>
    <div class="col-md-6">
      Content

      <pre>
        Avava.
        Herman Miller.
        Random Images.
        Google Alerts.
        Opentecture Blog
      </pre>
    </div>
    <div class="col-md-3">
      Category, About
    </div>

  </div>
</div>

<section class="row paginations">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 prev">
        <a href="/blog/title">previous entry</a>
      </div>
      <div class="col-sm-6 back_all">
        <!-- <a href="/blog">back to all entries</a> -->
        &nbsp;
      </div>
      <div class="col-sm-3 next">
        <a href="/blog/title">next entry</a>
      </div>
    </div>
  </div>
</section>
