<div class="container">
  <%= render file: "site/catalog/header" %>

  <br>
  <br>

  <%= render file: "site/catalog/categories" %>
  <%= render file: "site/catalog/parts" %>
  <%= render file: "site/catalog/subcategories" %>
</div>
