<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>
        Community
      </h1>
      <p>
        Opentecture is made possible by shared, open standards and
        the community of designers, makers, and problem-solvers
        who practice modularity to build something greater, together.
      </p>
      <p>
        <a href="http://openstructures.net/" target="_blank">OpenStructures</a>
        common spatial standard creates new opportunities for
        collaborative space design. Let's explore!
      </p>
      <p>
        Meet others IRL at an
        <a href="https://www.meetup.com/opentecture/" target="_blank">Opentecture Meetup</a>.
      </p>
      <p>
        Join the conversation digitally at the
        <a href="https://opentecture.slack.com" target="_blank">Opentecture Slack Channel</a> &dash;
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd9ZCbe6GWiSkSabsuNnpYlfz8S3oocAXCW6N-X63FlapjBUQ/viewform" target="_blank" style="font-size: 0.75em;">Request a Slack Invite</a>.
      </p>
    </div>
  </div>
</div>
