<div class="container">
  <div class="row">
    <div class="offset-2 col-8">
      <h1>
        Concept
      </h1>

      <p>
        What if open source philosophies, modern fabrication techniques, and modular design conventions were applied to improve the way people build and sustain living spaces, work spaces, and communities?
      </p>

      <p>
        The <a href="http://intrastructures.net/Intrastructures/Analysis_files/flyer_final-ENG_1.pdf" target="_blank">OpenStructures</a> standard, created by Thomas Lommee, is a 2x2cm grid standard framework useful for building interoperable physical products. The standard provides a basic unit to be interfaced with, thus, it is a basic unit of interface (you can think of it sorta-like lifesize LEGO&trade;s).
      </p>

      <h3>
        Revealing an Interface
      </h3>

      <p>
        Given this is an exploration,
        I'm learning, documenting, and sharing as I go.
        I'm trying to learn:
        <ul>
          <li>
            How are things currently being done?
          </li>
          <li>
            How can we do it in a modular, sustainable way?
          </li>
        </ul>
        Through a software-like build process
        applied to physical objects, I'm
        assuming new design patterns
        and interfaces will be revealed.
      </p>

      <h3>
        Translating Systems
      </h3>

      <p>
        Reimagining current items and their functions (JTBD) within the overall structure, we can describe a proposed solution or abstraction that will fill the role going forward.
        It is possible to list of everything needed to build a house.
        For each one, seek a modular equivalent.
        Document each of these as an item, as an assembly, and as a design pattern.
      </p>

      <h3>
        A Modular Approach
      </h3>

      <p>
        There are many benefits to modular design, such as re-use, sharing, and re-purposing.
        Focusing on the essential interfaces between physical objects, an open and extensible platform of parts and pieces can be developed to construct amazing things together.
      </p>

      <p>
        The beneficial impact of open source is well-known in software, and the philosophies of transparency, collaboration, and sharing are permeating our culture in many beneficial ways.
      </p>

      <p>
        Similarly, other modern design concepts such as agile practice, test-driven development, human-centric service design, rapid prototyping, and object-orientation are intriguing targets of exploration in the context of modular building, systems and architecture.
      </p>


      <h3>
        Materials
      </h3>

      <p>
        What raw materials are required?
        Where and how are materials obtained?
        How do we use those materials for which living solution?
      </p>


      <h3>
        Sustainability
      </h3>

      <p>
        It is imperative that we seek to use and re-use renewable resources while we seek to minimize any adverse impact on our environment.
      </p>

      <p>
        Significant resources are used in the construction industry, between developing the array of raw materials, to transporting them onsite, processing them, and then moving the excess back offsite. This is a resource intensive process. We believe modular architecture can lead to more sustainable design, and improve local communities and economies.
      </p>

      <h3>
        Sourcing
      </h3>

      <p>
        Use & Re-Use
        How can the materials we use be reused?
        Are they sustainable?
        How do we know?
        How do we help?
      </p>

      <p>
        The  economics and user experience of bespoke architecture and buildings
        can stand to be reexamined in the light of collaborative
        building technologies.
        Much like organizational
        structures are changing with the advent of the internet. Structures of all sorts are proving
        themselves to be refactor-able.
      </p>

      <h3>
        3 Types of Components
      </h3>

      <p>
        In the <a href="/catalog">catalog</a>,
        3 categories of Components are outlined.
      </p>

      <h3>
        Costs
      </h3>

      <p>
        How much might something like this cost?
        <br>
        See the
        <a href="https://docs.google.com/present/edit?id=0Abug74OYJcssZGNtM3o4d2tfMzhkOWZ0NzhocA&hl=en_US">
          Numbers</a>
      </p>
      <p>
        View the
        <a href="https://docs.google.com/presentation/d/1TdGw98HeaExb5iQIUd9GPxZu09Eo6KXJpyHWdif2cco/edit#slide=id.i0">Slides</a>
      </p>
    </div>
  </div>
</div>
