<section class="row">
  <div class="container">
    <%= render file: "components/about" %>
    <%= render file: "components/living_spaces" %>
    <%= render file: "components/open_standards" %>
    <%= render file: "components/community" %>
    <div class="row section_title">
      <div class="col-md-12">
        <p>
          Using open-source standards
          and shared, modular components,
          Opentecture encourages living spaces
          that adapt with you.

          <a href="/concept">Learn more</a>,
          <a href="/community">get involved</a>,
          or browse or a
          <a href="">catalog</a> of
          modular components.
        </p>
      </div>
    </div>
  </div>
</section>
