<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <h1>
        Origins
      </h1>

      <p>
        Opentecture was created as a way to collect and share information
        about modular systems, systems-thinking, design, and architecture.
      </p>

      <p>
        As a child, I often played toys like LEGO&trade;s,
        Construx, Lincoln Logs, and Transformers.
        These toys taught and inspired me to
        create; to shape and build the world
        as I imagined it.
      </p>

      <p>
        I once had an opportunity to
        remodel a 50 year old house.
        Remodeling required walls and cabinets to be demolished,
        because the house was not designed to be modified.
      </p>

      <p>
        These two experiences were only vaguely similar, and I wondered: Why could I not build a room in my house
        the same way I build a LEGO&trade;-like house?
        Why not a house?
        Why not rooms inside a house?
        Features inside rooms?
        Based on interoperable components?
      </p>

      <p>
        Opentecture is an exploration into modular physical architecture and open interfaces through a systems-thinking lens.
      </p>

      <p>
        <a href="" target="_blank">Ryan Wold</a>,
        <a href="http://afomi.com" target="_blank">Afomi</a>
      </p>
    </div>
  </div>
</div>
