<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="entry">
        March 10, 2013
        <br>

        A nice <a href="http://openarchitecturenetwork.org/node/11702/report/month/3/2013">example</a> of a modular building in Japan.
      </div>

      <div class="entry">
        March 2, 2013
        <br>

        http://www.huffingtonpost.com/2013/03/01/wikihouse-design-inexpensive-homes_n_2790860.html
      </div>

      <div class="entry">
        <p>April 1, 2012</p>

        <p>Time-lapse video of a massive modular skyscraper in China.</p>
        <iframe width="280" height="190" src="http://www.youtube.com/embed/Hdpf-MQM9vY" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="entry">
        <p>January 1, 2012</p>

        <p>
          This project started off with initial brainstorming, notes, and sketches for a modular looking house.
          Additional ideas were explored in a <a href="http://prezi.com/afomi" target="_blank">Prezi</a> doc. Most
          recently,
          in November 2011, I stumbled upon <a href="http://theurbanlab.net/" target="_blank">UrbanLab</a>'s website and
          instantly recognized potential
          for exploration. Uncharacteristically, I contacted them, and Norberto returned my call. On Wed., November 23,
          2011,
          I met with Norberto and Tony at their warehouse at 672 Waterfront Ave on Mare Island, just outside Vallejo,
          CA.
          We discussed some ideas and focused on tangible next steps.
        </p>

        <p>
          On Wednesday, Nov 23, I began fleshing out this website, creating pages for several projects.
        </p>

    </div>

    <div class="entry">
      23 Oct 2013
      <br>

In Chicago, I went on the Chicago Architecture Foundation's Riverboat Tour. Seeing several different types of buildings, learing about Tripartite structures, Landmark Structures, Chicago's focus on developing a Riverwalk, inspired by San Antonio's. Passing the works of Mies de Van DeRohe, Goldberg, and Irwin? new Trump Tower - the works of Architecture firms < >.

    </div>

    <div class="entry">
      01 Jan 2012
      <br>

      This project started off with initial brainstorming, notes, and sketches for a modular looking house. Additional ideas were explored in a Prezi doc. Most recently, in November 2011, I stumbled upon UrbanLab's website and instantly recognized potential for exploration. Uncharacteristically, I contacted them, and Norberto returned my call. On Wed., November 23, 2011, I met with Norberto and Tony at their warehouse at 672 Waterfront Ave on Mare Island, just outside Vallejo, CA. We discussed some ideas and focused on tangible next steps. On Wednesday, Nov 23, I began fleshing out this website, creating pages for several projects.

    </div>
  </div>
</div>
