body {
  position: relative;
  font-family: 'PT Mono';
  font-size: 18px;
  color: #8d8989;
  p {
    line-height: 2em;
  }
}
nav {
  .navbar-brand {
    font-size: 1.5em;
    color: #01FF70;
  }
}
// Community Page
.row {
  h1 {
    color: #7FDBFF;
  }
  p a {
    color: white;
    background-color: black;
    background-color: #01FF70;
    padding: 0.25em 0.5em;
  }
}
.navbar-nav {
  li {
    list-style-type: none;
    padding: 0 1em;
  }
  li a {
    background-color: #7FDBFF;
    color: white;
    font-size: 1em;
    padding: 0.25em 0.5em;
  }
  li:hover a {
    background: #7FDBFF;
  }
}
.parts-list .col-md-4 {
  border-top: 1px solid #DDDDDD;
  height: 280px;
  img {
    margin: 40px;
    height: 200px;
  }
  a:not([target]) {
    padding: 0.25em 0.5em;
    text-align: center;
    background-color: #DDDDDD;
  }
}
ul.parts-list {
  list-style-type: none;
  clear: both;

  li {
    border: 1px solid red;
    float: left;
    height: 210px;
    width: 30%;
  }
}
nav.navbar {
  background: rgba(255, 255, 255, 0.9);
}

.inner_box2 {
  padding: 60px;
  background: #f8f8f8;
  h3 {
    text-transform: uppercase;
    color: #271818;
    margin: 0 0 45px;
    line-height: 1;
    display: inline-block;

    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background: #271818;
      margin-top: 15px;
    }
  }
  li {
    text-transform: uppercase;
  }

}
.social {
  list-style-type: none;
}
footer .container .social li {
  float: left;
  text-transform: uppercase;
  padding: 0 1em;
}
.entry {
  border-bottom: 1px solid #DDD;
  margin-bottom: 2em;
  padding: 2em 0;
}
.row h3 {
  color: #0074D9;
}
.inner_box2 h3 {
  color: black;
}
.section_title h2 {
  text-align: left;
  text-transform: uppercase;
  color: #271818;
  font-size: 48px;
  margin-bottom: 80px;
  margin-top: 0;
  display: inline-block;
}
@media (max-width: 450px) {
  .section_title h2 {
    font-size: 36px;
  }
}
@media (min-width: 767px) {
  #main {
    margin-top: 50px;
  }
}
@media (max-width: 899px) {
  .open-standards,
  .community,
  .living-spaces {
    padding: 20px;
  }
}
@media (min-width: 900px) {
  .open-standards,
  .community,
  .living-spaces {
    padding: 100px;
  }
  .nav-item {
    margin-left: 1em;
  }
}
footer .container {
  text-align: center;
}
footer .container .social {
  list-style: none;
  display: table;
  margin: 0 auto;
  margin-bottom: 85px;
  padding: 0;
  text-align: center;
}
