<div class="row">
  <div class="col-md-4">
    <h3>
      Structural
    </h3>

    <p>
      The main structural components of a building. Structural parts are typically larger and heavier, and are responsible for maintaining a safe, sound, and extensible framework for the structure. Structural elements must abide by structural guidelines to ensure proper strength. Guidelines include weight bearing and stress requirements. Typically, structural elements and subject to some type of building inspection. An example Structural Part is a Beam. In time, we seek to Weigh/Load Test every component in our part library with open-source structural physical tests.
    </p>
  </div>
  <div class="col-md-4">
    <h3>
      Functional
    </h3>

    <p>
      Electrical & communication fixtures, cabinets, drawers, storage.
    </p>
  </div>
  <div class="col-md-4">
    <h3>
      Aesthetic
    </h3>

    <p>
      Finishing details of a residence are undoubtedly important to establish a sense of completion and wholeness. Aesthetics are decoration of your space with intelligently modular enhancements, such as lights, fans and switches, colored wall panels, cabinetry, flooring, and insets.
    </p>
  </div>
</div>
