<div class="row">
  <div class="col-6 offset-3">
    <h1>
      Catalog
    </h1>
    <p>
      an evolving list of parts and components
    </p>
    <h3>
      there are 3 categories of Components
    </h3>
  </div>
</div>
