<br>
<br>
<br>
<br>
<br>

<hr>

<h1 style="text-align: center; margin: 5em 0;">
  More Components
</h1>
<div class="row">
  <div class="col-md-4">
    <h3>
      Power &amp; Data
    </h3>

    <p>
      Electrical, internet, phone, and cable
      are essential basic core services
      in modern homes.
      How can we upgrade existing infrastructure
      and future-proof evolving power and data needs?
    </p>
  </div>
  <div class="col-md-4">
    <h3>
      Exterior
    </h3>

    <p>
      What does the exterior of a home consist of?
      How can we maintain moisture and heat
      efficiency while having components
      that are modular and interchangeable?

      <br>
      Exterior includes: doors, windows, electrical &amp; communication fixtures, cabinets, drawers, and storage.
    </p>
  </div>
  <div class="col-md-4">
    <h3>
      Plumbing
    </h3>

    <p>
      Plumbing issorta like black box now. With a modular approach, plumbing and water delivery can innovate in smaller increments. The ability to add a new bathroom with modular parts or a new sink is an interesting concept, not only for its novelty, but pragmatically in developing and developed areas, alike.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>
      Doors & Windows
    </h3>

    <p>
      Doors and windows are core components to a house, but why should they be static? Why not be able to move doors inside? Why not be able to add another window without first destroying drywall, 2x4's, and exterior masonry or paneling.
    </p>
  </div>
  <div class="col-md-4">
    <h3>
      Insulation, Sealing, Air & Heat
    </h3>

    <p>
      People should have more control over insulating home and the individual spaces within it. The ability to soundproof a room and to make it thermally insulated are very useful, but currently expensive. Vapor and water barriers are equally as important to keeping a structure sound, sanitary, and comfortable, thus sealing in areas like the kitchen, bathrooms, roof, and exterior windows and entry points.
    </p>

    <p>
      Air & Heating needs are considered together. We value a holistic approach to maintaining a comfortable living environment.
    </p>
  </div>
  <div class="col-md-4">
    <h3>
      Wall switches
    </h3>

    <p>
      What are light switches but interfaces between objects? Press this here, make this happen there. Sorta like magic. More and more, we can make smarter gadgets, so switches can toggle more and more interesting things. Entertainment systems, curtains, variations on preset lighting arrangements. Some Variations on the basic light switch are: 1 way, 2 way, 3 way, dimmer.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>
      Lighting
    </h3>

    <p>
      Lighting is essential and can also be therapeutic, expressive, and purposeful in your space. The overhead for installing useful, interesting lights is too high. New fixtures are kind of a pain to install. Even with screws and the relatively modular blue boxes in walls or ceilings, this can be improved upon.
    </p>
  </div>
  <div class="col-md-4">
    <h3>
      Electrical Charging Station
    </h3>

    <p>
      Near bathrooms or kitchen nooks, people often have an assortment of items to charge: phone(s), computers, cameras, tablets, or shaver, toothbrush, etc. A component to hold the items and provide power to a bunch of items. It might be inlaid in a wall vertically, or installable under or over a vertical surface.
    </p>
  </div>
</div>
