<div class="container">
  <div class="row">
    <div class="col-md-12">
      <footer style="border-top: 1px solid #E5E5E5; padding-top: 50px; margin-top: 150px;">
        <div class="container">
          <div style="font-size: 14px; margin-bottom: 50px;">
            A collection of notes on collaborative systems and modular architecture,
            by
            <a href="https://twitter.com/randw" style="text-transform:normal;">Ryan Wold</a>
            - <a href="/origins" style="text-transform:normal;">Origins</a>
          </div>

          <ul class="social">
            <li>
              <a href="https://twitter.com/opentecture" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="https://github.com/opentecture" target="_blank">GitHub</a>
            </li>
            <li>
              <a href="https://opentecture.slack.com" target="_blank">Slack</a>
            </li>
            <li>
              <a href="https://www.meetup.com/opentecture" target="_blank">Meetup</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </div>
</div>
